@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #1e1e1e;
  --background: #ffffff;
  --cards-bg: #eee9e7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --background: #1e1e1e;
    --cards-bg: #262626;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card{
  color: var(--foreground);
  background: var(--cards-bg);
}